header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.32)));
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.32));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.32)); }

.logo-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1); }

.logo-section__link {
  font-family: BrandonGrotesque;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  line-height: normal;
  opacity: 0.5;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  padding: 16px 20px; }

.logo-section__link:hover {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1; }

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding-top: 25px;
  padding-bottom: 15px; }

.navigation__link {
  display: inline-block;
  text-align: center;
  padding-top: 55px;
  position: relative;
  font-family: BrandonGrotesque;
  font-weight: bold;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.35);
  line-height: normal;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.navigation__link::before {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  content: "";
  width: 44px;
  height: 52px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.navigation__link_fit::before {
  background: url("../img/icons/motivation-icon.svg") no-repeat center; }

.navigation__link_nut::before {
  background: url("../img/icons/motivation-icon.svg") no-repeat center; }

.navigation__link_motiv::before {
  background: url("../img/icons/motivation-icon.svg") no-repeat center; }

.navigation__link_track::before {
  background: url("../img/icons/tracking-icon.svg") no-repeat center; }

.navigation__link_guid::before {
  background: url("../img/icons/guidance-icon.svg") no-repeat center; }

.navigation__link:hover {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none; }

.navigation__link_fit:hover::before {
  background: url("../img/icons/guidance-icon-hover.svg") no-repeat center; }

.navigation__link_nut:hover::before {
  background: url("../img/icons/guidance-icon-hover.svg") no-repeat center; }

.navigation__link_motiv:hover::before {
  background: url("../img/icons/guidance-icon-hover.svg") no-repeat center; }

.navigation__link_track:hover::before {
  background: url("../img/icons/guidance-icon-hover.svg") no-repeat center; }

.navigation__link_guid:hover::before {
  background: url("../img/icons/guidance-icon-hover.svg") no-repeat center; }

@media (max-width: 460px) {
  .navigation {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .navigation__link {
    font-family: BrandonGrotesque;
    font-weight: bold;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.35);
    line-height: normal; } }

body {
  background-color: #19242c; }

.tutorials {
  font-family: BrandonGrotesque;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  line-height: normal;
  letter-spacing: 0.5px;
  padding-bottom: 30px; }

.tutorials__img-block {
  overflow: hidden; }

.tutorials__block > div {
  padding-bottom: 25px; }

.tutorials__item:hover,
.tutorials__item:active {
  text-decoration: none; }

.tutorials__item-img {
  width: 100%;
  height: 279px;
  margin-bottom: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.tutorials__item-img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); }

.tutorials__item-title {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 19px;
  font-weight: 700;
  letter-spacing: 0.4px; }

.tutorials__item-desc {
  color: #ffffff;
  line-height: 26px; }

.tutorials__item-title_fitness {
  color: #4bdebe; }

.tutorials__item-title_body {
  color: #feab1c; }

@media (max-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px; } }

.tools__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #283c4b;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.tools__item:hover {
  text-decoration: none;
  -webkit-box-shadow: 0px -1px 30px -4px rgba(0, 0, 0, 0.86);
          box-shadow: 0px -1px 30px -4px rgba(0, 0, 0, 0.86); }

.tools__item:active {
  text-decoration: none;
  -webkit-box-shadow: inset 0px -1px 30px -4px rgba(0, 0, 0, 0.86);
          box-shadow: inset 0px -1px 30px -4px rgba(0, 0, 0, 0.86); }

.tools__img {
  width: 40%;
  height: 178px; }

.tools__img img {
  width: 100%;
  height: 100%; }

.tools__desc {
  padding: 20px 18px;
  margin-bottom: 0;
  width: 60%; }

.tools__desc-title {
  display: block;
  font-family: BrandonGrotesque;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  line-height: normal;
  line-height: 26px;
  letter-spacing: 0.5px; }

.tools__desc-text {
  font-family: AvenirNext;
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
  line-height: normal;
  line-height: 18px;
  opacity: 0.7; }

@media (max-width: 768px) {
  .tools {
    background-color: rgba(40, 60, 75, 0.6);
    margin-left: -32px;
    margin-right: -32px;
    padding: 24px 47px 24px 32px; }
  .tools__block > div {
    padding-right: 0; }
  .tools__desc {
    padding: 0;
    width: -webkit-calc(100% - 115px);
    width: calc(100% - 115px); }
  .tools__item {
    margin-bottom: 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: transparent; }
  .tools__item_first {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .tools__img {
    width: 88px;
    height: 85px; }
  .tools__desc-text {
    font-size: 14px; } }

.footer {
  padding: 24px 0;
  background-color: rgba(0, 0, 0, 0.6); }

.footer__logo {
  text-align: center; }

.footer__logo-img {
  display: inline-block;
  height: 30px;
  padding-left: 35px;
  line-height: 30px;
  font-weight: 700;
  font-style: italic;
  color: #ffffff;
  opacity: 0.5;
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 0px center; }

.footer__nav {
  list-style: none;
  margin: 0;
  margin-top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.footer__nav li {
  font-family: AvenirNext;
  font-weight: 500;
  font-size: 13px;
  color: #ffffff;
  line-height: normal;
  opacity: 0.5;
  position: relative;
  padding-right: 25px; }

.footer__nav li:not(:first-child)::before {
  content: '';
  position: absolute;
  left: -15px;
  top: 7px;
  display: block;
  width: 5px;
  height: 5px;
  background-color: #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.footer__nav li a {
  color: #ffffff; }

.start-video {
  padding-top: 46px;
  background-color: #283c4b; }

.start-video_tutorials {
  padding-top: 19px;
  padding-bottom: 27px; }

.start-video__title {
  font-family: BrandonGrotesque;
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
  line-height: normal;
  letter-spacing: 0.8px;
  margin-bottom: 22px;
  margin-top: 0; }

.start-video__title_tutorials {
  font-size: 22px;
  letter-spacing: 0.6px; }

.start-video__desc {
  font-size: 18px;
  opacity: 0.5; }

.start-video__desc_tutorials {
  font-size: 13px;
  line-height: 18px; }

.start-video__text_tutorials {
  padding-top: 25px; }

.video-container {
  width: 100%;
  margin: 0 auto; }

.video-container__video {
  width: 100%; }

#container {
  position: relative; }

#videocover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0; }

#videocover:hover {
  cursor: pointer; }

.video-container__button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  border: 0;
  text-align: center;
  vertical-align: middle;
  padding: 10px 20px 10px 40px;
  font-family: BrandonGrotesque;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  line-height: normal;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #009eff;
  -webkit-box-shadow: 12px 15px 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 12px 15px 8px 0 rgba(0, 0, 0, 0.1); }

.video-container__button_tutorials {
  height: 39px;
  width: 47px; }

.video-container__button::before {
  position: absolute;
  left: 16px;
  top: 14px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 13px;
  border-color: transparent transparent transparent #ffffff; }

.video-container__button_tutorials::before {
  left: 24px; }

@media (max-width: 767px) {
  .video-container {
    width: -webkit-calc(100% + 64px);
    width: calc(100% + 64px);
    margin: 0 -32px; }
  .start-video {
    background-color: #283c4b; }
  .start-video_tutorials {
    padding-top: 12px; }
  .start-video__text_tutorials {
    padding-top: 20px; }
  .start-video__desc_tutorials {
    font-size: 16px;
    line-height: 20px; } }

.breadcrumb {
  padding: 0;
  list-style: none;
  margin: 0;
  margin-bottom: 16px;
  padding: 12px;
  background-color: #1b262f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-border-radius: 0;
          border-radius: 0; }

.breadcrumb__item {
  position: relative; }

.breadcrumb__item a {
  font-family: BrandonGrotesque;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  line-height: normal;
  line-height: 13px;
  opacity: 0.5;
  letter-spacing: 0.3px;
  text-transform: uppercase; }

.breadcrumb > li + li:before {
  display: none; }

.breadcrumb__item:not(:first-child) {
  padding-left: 15px; }

.breadcrumb__item:not(:first-child)::before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -3px;
  left: 4px;
  display: block;
  padding: 0;
  width: 6px;
  height: 6px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0.5; }

@media (max-width: 768px) {
  .breadcrumb {
    display: none; } }

body {
  width: 100%;
  background: #19242c -webkit-radial-gradient(42% 29%, circle, #385060, #19242c);
  background: #19242c radial-gradient(circle at 42% 29%, #385060, #19242c);
  font-family: AvenirNext;
  font-weight: 500;
  font-size: 13px;
  color: #ffffff;
  line-height: normal; }

.block__title {
  font-family: BrandonGrotesque;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  line-height: normal;
  margin-bottom: 20px;
  line-height: 23px;
  text-transform: uppercase; }
