/*.footer__logo {
  text-align: center;
}
.footer__logo-img {
  display: inline-block;
  height: 30px;
  padding-left: 30px;
  line-height: 30px;
  font-weight: 700;
  font-style: italic;
  color: rgba(255, 255, 255, 0.5);
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
}*/