
header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.32));
}

.logo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.logo-section__logo-block {
  margin-left: 15px;
}

.logo-section__mobile-title, .logo-section__mobile-menu {
  display: none;
}

.logo-section__link {
  @include brandonFont(500, 12px);
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.3px;
  text-transform: uppercase;
  padding: 16px 20px;
}

.logo-section__user-photo {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  margin-right: 8px;
  margin-top: -5px;
  margin-bottom: -5px;
}

.logo-section__link:hover {
  @include hover();
  @include transition();
  opacity: 1;
}

.logo-section__logo-img {
  background: url('../img/icons/logo.svg') no-repeat center;
  display: block;
  width: 27px;
  height: 27px;
}

.logo-section__logo-img_grey {
  opacity: 0.5;
  background-image: url(../img/logo.svg);
}


.navigation {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 70px;
  padding-right: 70px;
}

.navigation__link {
  display: inline-block;
  text-align: center;
  padding-top: 55px;
  position: relative;
  @include brandonFont(bold, 12px, rgba(255, 255, 255, 0.35));
  letter-spacing: 0.3px;
  text-transform: uppercase;
  @include transition();

}

.navigation__link::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  content: "";
  width: 44px;
  height: 52px;
  @include transition();

}

$navigation-icons: (
        fit: url("../img/icons/green.svg"),
        nut: url("../img/icons/red.svg"),
        motiv: url("../img/icons/orange.svg"),
        track: url("../img/icons/blue.svg"),
        guid: url("../img/icons/purple.svg")
);

.navigation {
  @each $name, $src in $navigation-icons {
    &__link_#{$name}::before {
      background: $src no-repeat center;
    }
  }
}

.navigation__link:hover {
  cursor: pointer;
  color: $white;
  text-decoration: none;
}

$navigation-icons-hover: (
        fit: url("../img/icons/green-hover.svg"),
        nut: url("../img/icons/red-hover.svg"),
        motiv: url("../img/icons/orange-hover.svg"),
        track: url("../img/icons/blue-hover.svg"),
        guid: url("../img/icons/purple-hover.svg")
);

.navigation {
  @each $name, $src in $navigation-icons-hover {
    &__link_#{$name}:hover::before {
      background: $src no-repeat center;
    }
  }
}

$navigation-icons-active: (
        fit: url("../img/icons/green-pressed.svg"),
        nut: url("../img/icons/red-pressed.svg"),
        motiv: url("../img/icons/orange-pressed.svg"),
        track: url("../img/icons/blue-pressed.svg"),
        guid: url("../img/icons/purple-pressed.svg")
);

.navigation {
  @each $name, $src in $navigation-icons-active {
    &__link_#{$name}:active::before {
      background: $src no-repeat center;
    }
  }
}

.navigation {
  @each $name, $src in $navigation-icons-active {
    &__link_#{$name}-active::before {
      background: $src no-repeat center;
    }
  }
}

.navigation__link::after {
  position: absolute;
  top: 77px;
  left: 50%;
  margin-left: -12px;
  content: "";
  @include transition();
  display: none;

}

.navigation {
  @each $name, $src in $navigation-icons-active {
    &__link_#{$name}-active::after {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 12px 11px 12px;
      border-color: transparent transparent  $dark-grey-blue-four transparent;
      display: block;
    }
  }
}

.second-triangle::after {
  border-color: transparent transparent  $dark-grey-blue transparent;
}

@media (max-width: $break-medium) {
  .navigation {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 460px) {
  .navigation {
    justify-content: space-between;
  }

  .navigation__link {
    @include brandonFont(bold, 10px, rgba(255, 255, 255, 0.35));
  }
}

@media (max-width: $break-small) {

  header {
    background: $dark radial-gradient(circle at 50% -150px, #385060, $dark);
  }

  .logo-section__link {
    display: none;
  }

  .logo-section__mobile-title {
    display: block;
    @include brandonFont(500, 12px);
    opacity: 0.5;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    padding: 16px 20px;
    margin: 0;
  }

  .logo-section__mobile-menu {
    display: block;
    position: relative;
    width: 23px;
    height: 16.4px;
    right: 20px;
  }

  .logo-section__mobile-menu:hover {
    @include hover();
  }

  .logo-section__mobile-dash {
    position: absolute;
    top: 50%;
    transform: translate(0, 50%);
    height: 2px;
    width: 100%;
    background-color: $white;
    opacity: 0.5;
  }

  .logo-section__mobile-menu::before {
    content: "";
    @extend .logo-section__mobile-dash;
    transform: translate(0, 50%);
    top: 0;
  }

  .logo-section__mobile-menu::after {
    content: "";
    @extend .logo-section__mobile-dash;
    transform: translate(0, 0);
    top: 100%;
  }
}