.nutrition {
  margin-top: 27px;
  margin-bottom: 100px;
}

.nutrition__top-img-block {
  margin-bottom: -80px;
}

.nutrition__top-img {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.nutrition__nav-wrapper {
  display: flex;
  justify-content: center;
}

.nutrition__tabs {
  display: flex;
  justify-content: space-between;
}

.nutrition__tab {
  background: $dark;
}

.nutrition__tab-link {
  @include brandonFont(bold, 14px);
  @include transition();
  letter-spacing: 0.4px;
  opacity: 0.2;
  text-transform: uppercase;
  padding: 30px 0;
  flex-grow: 1;
  text-align: center;
  margin: 0;
  border: 0;
}

.nutrition__tab-link:hover {
  background: $dark-four;
  color: $white;
  text-decoration: none;

}

.nutrition__tab-link {
  background-color: $dark-two;
  opacity: 1;
  @include transition();
}

.nutrition__tab-link_intro {
  background-color: $light-indigo;
  @include hover($white);
}

.nutrition__tabs-content {
  background-color: $dark-grey-blue;
  box-shadow: 12px 15px 11px 0 rgba(0, 0, 0, 0.16);
  padding-top: 38px;
}

.nutrition__intro-block {
  padding-bottom: 47px;
}

.nutrition__title {
  @include brandonFont(bold, 48px, $white, 1.17);
  margin: 0;
  margin-bottom: 39px;
}

.nutrition__desc {
  opacity: 0.5;
}

.nutrition__label-txt {
  @include brandonFont(bold, 16px);
  opacity: 0.2;
  letter-spacing: 0.4px;
  margin-right: 14px;
}

.nutrition__next-link {
  @include brandonFont(bold, 14px, $grassy-green);
  letter-spacing: 0.4px;
  display: inline-block;
  padding: 8px 20px;
  background-color: $kivi-green;
  @include transition();
}

.nutrition__next-link:hover {
  text-decoration: none;
  color: $white;
  transform: scale(1.1);
}


@media (max-width: $break-medium) {
  .nutrition__tabs-content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .nutrition__desc {
    padding-bottom: 20px;
  }

  .transform__tab-container {
    margin: 0;
  }
}

@media (max-width: $break-small) {

  .nutrition__top-img-block {
       width: calc(100% + 64px);
       margin-left: -32px;
       margin-right: -32px;
       margin-bottom: 0;
     }

  .nutrition__top-img {
    height: 212px;
  }

  .nutrition__nav-wrapper {
    margin: 0 -32px;
  }

  .nutrition__tabs {
    width: auto;
    margin-left: -32px;
    margin-right: -32px;

  }

  .nutrition__tab-link {
    font-size: 10px;
    flex-grow: 1;

  }

  .nutrition__tabs-content {
    @include fullMobileBlock();
    margin-top: 0;
    padding-bottom: 30px;
  }

  .nutrition__title {
    font-size: 24px;
  }

  .transform__desc {
    padding: 15px 0;
    margin: 0;
  }

}

@media (min-width: 1200px) and (max-width: 1210px) {
  .transform__tab-container {
    margin: 0;
  }
}

@media (min-width: 992px) and (max-width: 1015px) {
  .transform__tab-container {
    margin: 0;
  }
}

