.nutrition__tab-link_foodlist,
.nutrition__tab-link_foodlist:hover {
  background-color: $red-pink;
  color: rgba(0, 0, 0, 0.4);
  cursor: default;
}

.foodlist__content-wrapper {
  padding-bottom: 117px;
}

.foodlist__title {
  @include brandonFont(bold, 18px);
  letter-spacing: 0.5px;
}

.foodlist__desc {
  opacity: 0.5;
}

.food-blocks {
  position: relative;
  top: -80px;
}

.food-block {
  width: 100%;
  border-radius: 2px;
  background-color: $dark-five;
  box-shadow: 12px 15px 11px 0 rgba(0, 0, 0, 0.28);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.food__scroll-wrapper {
  margin: 23px 21px 23px 73px;
  height: 356px;
  overflow-y: scroll;
}

.food-block__title {
  @include brandonFont(bold, 16px);
  text-transform: uppercase;
  display: inline-block;
  padding: 6px 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  margin-top: 17px;
  margin-bottom: 28px;
}

.food-block__title_avoid {
  color: $red-pink;
}

.food-block__title_good {
  color: $yellowish-orange;
}

.food-block__title_best {
  color: $aqua-marine;
}

.food-block__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.food-block__product {
  font-size: 16px;
  margin-bottom: 16px;
  letter-spacing: 0.5px;
}

.scroll-bar {
  background-color: $red-pink!important;
  opacity: 1!important;
}

@media (max-width: $break-medium) {
  .food-block {
    margin-top: 20px;
  }

  .food__scroll-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 23px 21px 23px 0;
  }
}


@media (min-width: 1200px) and (max-width: 1210px) {
  .food-blocks {
    margin: 0;
  }
}

@media (min-width: 992px) and (max-width: 1015px) {
  .food-blocks {
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 795px) {
  .food-blocks {
    margin: 0;
  }
}