.start-video {
  padding-top: 46px;
  padding-bottom: 42px;
  background-color: $dark-grey-blue;
  position: relative;
}

.start-here::after {
  content: '';
  width: 133px;
  height: 84px;
  position: absolute;
  top: 290px;
  left: -146px;
  background: url('../img/start here@2x.png') no-repeat center;
  background-size: cover;
}

.start-video_tutorials {
  padding-top: 19px;
  padding-bottom: 27px;
}

.start-video__title {
  @include brandonFont(bold, 30px);
  letter-spacing: 0.8px;
  margin-bottom: 22px;
  margin-top: 0;
}

.start-video__title_tutorials {
  font-size: 22px;
  letter-spacing: 0.6px;
}

.start-video__desc {
  font-size: 18px;
  opacity: 0.5;
}

.start-video__desc_tutorials {
  font-size: 13px;
  line-height: 18px;
}

.start-video__text_tutorials {
  padding-top: 25px;
}

.video-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.video-container__video {
  width: 100%;
}

#container {
  position: relative;
}

.videocover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

.videocover:hover {
  cursor: pointer;
}

.video-container__button {
  @include elemToCenter();
  @include btn(10px 20px 10px 40px);
  @include brandonFont(bold, 14px);
  @include transition;
  border-radius: 2px;
  background-color: $azure;
  box-shadow: 12px 15px 8px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 2;
}

.video-container__button:hover {
  background-color: $cerulean-blue;
}

.video-container__button_tutorials {
  height: 39px;
  width: 47px;
}

.video-container__button_guidance,
.video-container__button_motivation {
  width: 70px;
  height: 70px;
  background-color: rgba(25, 36, 44, 0.83);
  border-radius: 50%;
}

.video-container__button_motivation {
  width: 54px;
  height: 54px;
  padding: 0;
}

.video-container__button::before {
  position: absolute;
  left: 16px;
  top: 14px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 13px;
  border-color: transparent transparent transparent $white;
}

.video-container__button_tutorials::before {
  left: 24px;
}

.video-container__button_guidance::before,
.video-container__button_motivation::before{
  @include elemToCenter;
}

@media (max-width: $break-medium) {
  .start-here::after {
    display: none;
  }
}

@media (max-width: $break-small) {
  .video-container {
    width: calc(100% + 64px);
    margin: 0 -32px;
  }

  .start-video {
    background-color: $dark-grey-blue;
    padding-top: 23px;
    padding-bottom: 0;
  }

  .start-video_tutorials {
    padding-top: 12px;
  }

  .start-video__text_tutorials {
    padding-top: 20px;
  }

  .start-video__desc_tutorials {
    font-size: 16px;
    line-height: 20px;
  }

  .start-video__desc {
    padding-bottom: 26px;
  }

  .video-container__button_guidance {
    @include elemToCenter();
    @include btn(10px 20px 10px 40px);
    @include brandonFont(bold, 14px);
    border-radius: 2px;
    background-color: $azure;
    box-shadow: 12px 15px 8px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 2;
    width: 47px;
    height: 39px;
  }
}