.tools__item {
  display: flex;
  margin-bottom: 25px;
  align-items: stretch;
  background-color: $dark-grey-blue;
  @include transition();
  box-shadow: 12px 15px 11px 0 rgba(0, 0, 0, 0.12);
}

.tools__item:hover,
.tools__item:active {
  text-decoration: none;
  @include boxShadow;
}

.tools__img {
  width: 40%;
  height: 178px;
}
.tools__img img {
  width: 100%;
  height: 100%;
}
.tools__desc {
  padding: 20px 18px;
  margin-bottom: 0;
  width: 60%;
}
.tools__desc-title {
  display: block;
  @include brandonFont(500, 18px);
  line-height: 26px;
  letter-spacing: 0.5px;
}
.tools__desc-text {
  @include avenirFont(400, 13px, $color: #ffffff);
  line-height: 18px;
  opacity: 0.7;
}

@media (max-width: $break-small) {
  .tools {
    background-color: rgba(40, 60, 75, 0.6);
    margin-left: -32px;
    margin-right: -32px;
    padding: 24px 47px 24px 32px;
  }
  .tools__block > div {
    padding-right: 0;
  }
  .tools__desc {
    padding: 0;
    width: calc(100% - 115px);
  }
  .tools__item {
    margin-bottom: 0;
    justify-content: space-between;
    background-color: transparent;
    padding: 5px;
    width: calc(100% + 10px);
  }
  .tools__item_first {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .tools__img {
    width: 88px;
    height: 85px;
  }
  .tools__desc-text {
    font-size: 14px;
  }
}