.tracking__nav {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 14px;
}

.tracking__nav-control {
  position: relative;
  width: 42px;
  background-color: rgba(27, 38, 47, 0.35);
  cursor: pointer;
}

.tracking__nav-control::before {
  content: '';
  @include elemToCenter;
  margin-top: -4px;
  margin-left: -2px;
  width: 9px;
  height: 9px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  transform: rotate(-45deg);
}

.tracking__nav-control_next::before {
  transform: rotate(135deg);
  margin-left: -6px;
}

.tracking__nav-body {
  flex-wrap: wrap;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  list-style: none;
  margin: 0 6px;
  padding: 8px 27px;
  background-color: rgba(27, 38, 47, 0.35);
  border-radius: 2px;

}

.tracking__nav-item {
  padding: 8px 15px;
  @include brandonFont(700, 14px, #ffffff, 20px);
  letter-spacing: 0.4px;
  color: rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  cursor: pointer;
}

.tracking__nav-item_active {
  background-color: $dodger-blue;
  opacity: 1;
  color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  cursor: default;
}


/*tracking-pictures*/

.tracking__pictures {
  padding-bottom: 51px;
}

.tracking__pictures-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  flex-basis: 220px;
  height: 284px;
  padding: 31px 33px;
  position: relative;
  @extend .motivation__video-item;
}

.tracking__pictures-item::before,
.tracking__pictures-item::after {
  top: 50%;
}

/*tooltip*/
.tracking__tooltip {
  position: absolute;
  top: 15px;
  left: 13px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tracking__tooltip-control {
  display: inline-block;
  width: 18px;
  height: 18px;
  color: $dodger-blue;
  border: 2px solid $dodger-blue;
  border-radius: 50%;
  font-weight: 700;
  margin-bottom: 15px;
  cursor: pointer;
}

.tracking__tooltip:hover .tracking__tooltip-block{
  display: flex;
}

.tracking__tooltip-block {
  position: absolute;
  left: -12px;
  top: 31px;
  z-index: 10;
  width: 333px;
  height: 112px;
  padding: 21px 19px;
  background-color: $white;
  border-radius: 3px;
  display: none;
}

.tracking__tooltip-block::before {
  content: '';
  display: block;
  position: absolute;
  top: -6px;
  left: 14px;
  width: 14px;
  height: 14px;
  background-color: $white;
  transform: rotate(45deg);
}

.tracking__tooltip-block img {
  width: 73px;
  height: 68px;
}

.tracking__tooltip-text {
  @include brandonFont(400, 16px, #000, 20px);
  margin-left: 19px;
  text-align: left;
}

.tracking__tooltip-text .title {
  font-weight: 700;
  display: block;
}

.tracking__tooltip-text .text {
  font-size: 14px;
}

/*tracking-sum*/

.tracking__title {
  @include brandonFont(700, 18px, $white, 26px);
  letter-spacing: 0.5px;
}

.tracking__title-sum_tooltip {
  margin-left: 30px;
}

.tracking__desc {
  @include avenirFont;
  opacity: 0.5;
  line-height: 18px;
}

.tracking__desc_sum {
  width: 220px;
}

.tracking__sum {
  padding-bottom: 50px;
}

.tracking__sum .tracking__title {
  margin-bottom: 15px;
}

.tracking__sum-item {
  display: flex;
  align-items: center;
}

.tracking__sum-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 138px;
  height: 138px;
  border-radius: 50%;
  margin-right: 21px;
  @include brandonFont(700, 60px, $white);
  vertical-align: top;
}

.tracking__sum-mark {
  margin-bottom: 30px;
  font-size: 20px;
}

.tracking__sum-amount_fat {
  background-color: #97df41;
}

.tracking__sum-amount_weight {
  background-color: $aqua-marine;
}

.tracking__sum-item_weight .tracking__tooltip {
  display: none;
}

.tracking__sum-desc {
  position: relative;
}

.tracking__sum .tracking__tooltip {
  left: 0;
}

/*tracking-score*/

.tracking__score {
  padding: 28px 33px;
  padding-right: 10px;
  margin-bottom: 26px;
  background-color: rgba(43, 64, 77, 0.6);
  border: 1px dashed #476d89;
}

.tracking__score-desc {
  position: relative;
  padding: 19px 25px;
  background-color: $dodger-blue;
  border-radius: 2px;
}

.tracking__score .tracking__tooltip {
  top: 23px;
  left: 25px;
}

.tracking__score .tracking__tooltip-control {
  color: $white;
  border-color: $white;
}

.tracking__title_score {
  padding-left: 30px;
  padding-bottom: 7px;
  margin-top: 0;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.tracking__desc_score {
  opacity: 1;
  line-height: 18px;
}

.tracking__score-items {
  padding-left: 54px;
  display: flex;
  flex-wrap: wrap;
}

.tracking__score-item {
  flex-basis: 33%;
}

.tracking__score-item .tracking__title {
  margin-bottom: 3px;
}

.tracking__add_filled {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 5px;
  min-height: 25px;
  width: 61px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 25px;
  border: none;
  text-align: center;
  @include transition;
  outline: none;
}

.tracking__add-label_filled {
  margin-bottom: 0;
}

.tracking__add-label_filled::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: -11px;
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: $aqua-marine;
}

.tracking__add_filled-text:hover {
  padding-left: 20px;
  width: 81px;
  background-image: url("../img/pen_icon.png");
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: 10px center;
}

.tracking__add {
  min-width: 61px;
  min-height: 25px;
  padding-bottom: 3px;
  border: none;
  border-radius: 15px;
  background-color: $red-pink;
  font-size: 10px;
}

.tracking__measure-item .tracking__add::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: -11px;
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: $red-pink;
}

.tracking__add::before {
  content: '+ ';
  font-weight: 700;
  font-size: 16px;
}

/*tracking__measure*/

.tracking__measure {
  min-height: 696px;
  padding: 16px 43px;
  margin-bottom: 58px;
  background-color: rgba(43, 64, 77, 0.6);
  border: 1px dashed #476d89;
}

.tracking__score-desc_measure {
  background-color: $lightish-purple;
}

.tracking__measure .tracking__tooltip {
  top: 23px;
  left: 25px;
}

.tracking__measure .tracking__tooltip-control {
  color: $white;
  border-color: $white;
}

.tracking__measure-block {
  position: relative;
  width: 359px;
  margin: 0 auto;
}

.tracking__measure-item {
  display: flex;
  align-items: center;
  position: absolute;
}

.tracking__measure-item .tracking__title {
  margin-right: 10px;
}

.tracking__measure-item_chest {
  top: 66px;
  left: -200px;
}

.tracking__measure-item_arms {
  top: 142px;
  left: -156px;
}

.tracking__measure-item_stomach {
  top: 216px;
  left: -148px;
}

.tracking__measure-item_hips {
  top: 342px;
  left: -166px;
}

.tracking__measure-item_abductors {
  top: 453px;
  left: -208px;
}

.tracking__measure-item_forearms {
  top: 233px;
  left: 388px;
}

.tracking__measure-item_waist {
  top: 328px;
  left: 353px;
}

.tracking__measure-item_legs {
  top: 430px;
  left: 358px;
}

.tracking__measure-item_calves {
  top: 530px;
  left: 339px;
}

.invisible {
  display: none;
}

@media (max-width: $break-medium) {
  .tracking__nav-body {
    padding: 8px;
  }

  .tracking__nav-item {
    padding: 8px;
    font-size: 13px;
  }

  .tracking__desc_sum {
    width: 185px;
  }

  .tracking__score-items {
    padding-left: 35px;
  }

  .tracking__measure {
    padding: 16px;
  }

  .tracking__measure-block {
    width: 325px;
  }
}

@media (max-width: $break-small) {
  .container.tracking {
    margin-left: -15px;
    padding-right: 17px;
  }

  .tracking__pictures {
    padding-bottom: 10px;
  }

  .tracking__pictures_nav {
    margin: 0 -17px;
    padding: 0 32px;
    background-color: $dark-grey-blue-two;
    overflow: hidden;
  }

  .tracking__nav {
    padding-bottom: 25px;
  }

  .tracking__nav-body {
    margin: 0 -40px;
    padding: 13px 40px;
    display: block;
    white-space: nowrap;
    overflow: auto;
  }

  .tracking__nav-body::-webkit-scrollbar {
    display: none;
  }

  .tracking__nav-item {
    min-width: 70px;
    border-radius: 25px;
    margin-right: 11px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 15px;
    text-align: center;
    background-color: $dark-four;
    display: inline-block;
  }

  .tracking__nav-item_active {
    background-color: $dodger-blue;
    color: rgba(255, 255, 255, 1);
  }

    .tracking__pictures {
    display: flex;
  }

  .tracking__pictures-item .tracking__tooltip {
    display: none;
  }

  .tracking__pictures-item {
    width: auto;
    height: 223px;
  }

  .tracking__nav-control {
    display: none;
  }

  .tracking__measure-item {
    position: static;
  }

  .tracking__sum {
    padding: 29px 34px;
    background-color: $dark-grey-blue;
  }

  .tracking__sum-item {
    padding: 0;
    flex-direction: column;
  }

  .tracking__sum-amount {
    width: 138px;
  }

  .tracking__sum-desc .tracking__title {
    margin-left: 30px;
  }

  .tracking__sum-item_weight .tracking__tooltip {
    display: block;
  }

  .tracking__desc_sum {
    width: 148px;
  }

  .tracking__score {
    padding-right: 33px;
    margin-bottom: 0;
    padding-bottom: 44px;
    border: none;
    background-color: $dark;
  }

  .tracking__title_score {
    font-size: 14px;
  }

  .tracking__score-items {
    padding-top: 25px;
    padding-left: 25px;
    justify-content: space-between;
  }

  .tracking__score-item {
    flex-basis: 50%;
    margin-bottom: 15px;
  }

  .tracking__score .tracking__add_filled {
    background-color: $dodger-blue;
  }

  .tracking__score .tracking__add {
    background-color: $white;
    color: $dodger-blue;
  }

  .tracking__score .tracking__add::before {
    color: $dodger-blue;
  }

  .tracking__measure {
    min-height: 0;
    padding: 0 32px;
    margin-bottom: 32px;
    border: none;
    background-color: $dark;
  }

  .tracking__measure-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: auto;
  }

  .tracking__measure-item {
    flex-basis: 33%;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .tracking__measure .tracking__add_filled {
    background-color: $lightish-purple;
  }

  .tracking__measure .tracking__add {
    background-color: $white;
    color: $lightish-purple;
  }

  .tracking__measure .tracking__add::before {
    color: $lightish-purple;
  }

  .tracking__pictures_nav .swiper-slide .row {
    display: flex;
    flex-direction: column;
  }
}


