.video-page__container {
  padding-top: 19px;
  padding-bottom: 27px;
}

.video-page {
  margin-top: 24px;
  margin-bottom: 84px;
}

.video-page__date {
  text-transform: uppercase;
  @include brandonFont(bold, 14px);
  letter-spacing: 0.4px;
}

.video-page__day {
  margin-right: 7px;
}

.video-page__week {
  opacity: 0.2;
}

.video-page__title {
  @include brandonFont(bold, 22px);
  letter-spacing: 0.6px;
}

.video-page__desc {
  opacity: 0.5;
  line-height: 1.38;
}

.video-accordion__panel {
  margin-bottom: 30px;
}

.video-accordion__head {
  padding: 13px 40px 14px 28px;
  background-color: $dark-grey-blue;
  box-shadow: 12px 15px 11px 0 rgba(0, 0, 0, 0.12);
}

.video-accordion__head:first-child {
  padding-bottom: 0;
}

.video-accordion__head:last-child {
  padding-top: 0;
}

.video-accordion__border-bottom {
  padding-bottom: 23px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.19);
}

.video-accordion__border-top {
  padding-top: 10px;
  margin-top: -1px;
  border-top: 1px solid rgba(255, 255, 255, 0.19);
}

.video-accordion__title {
  @include brandonFont(bold, 18px);
  letter-spacing: 0.5px;
  margin-top: 0;
}

.video-accordion__desc {
  opacity: 0.5;
  line-height: 1.38;
}

.video-accordion__button {
  @include brandonFont(bold, 14px);
  letter-spacing: 0.4px;
  position: relative;
}

.video-accordion__arrow {
  position: absolute;
  top: 3px;
  left: 83px;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background: $dodger-blue url('../img/icons/video-page-arrow.png') no-repeat center;
  @include transition();
}

.video-accordion__arrow_turned {
  transform: rotate(180deg);
}

.video-accordion__body {
  padding: 20px 44px 40px 36px;
  background-color: $dark-grey-blue;
  box-shadow: 12px 15px 11px 0 rgba(0, 0, 0, 0.12);
}

.exercises {
  border-left: 3px solid $dark-seven;
  padding-left: 25px;
}

.exercises__title,
.exercises__finish-title {
  @include brandonFont(bold, 12px);
  text-transform: uppercase;
  letter-spacing: 0.3px;
  position: relative;
}

.exercises__finish-title {
  line-height: 12px;
}

.exercises__title::before,
.exercises__finish-title::before {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #4bdebe;
  border: solid 3.5px #1f2e38;
  left: -33.5px;
}

.exercises__content {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.exercises__content::after {
  position: absolute;
  content: '';
  width: 3px;
  height: calc(100% - 104px);
  margin-bottom: -4px;
  border-right: 1px dashed $azure;
  bottom: 0;
  left: 91px;
  opacity: 0.5;
}

.exercises__video {
  position: relative;
  width: 183px;
  height: 103px;
  margin-right: 23px;
}

.exercises__video::before {
  position: absolute;
  content: '';
  border-radius: 50%;
  top: 50%;
  left: -31px;
  transform: translate(0, -50%);
  width: 9px;
  height: 9px;
  background-color: $dark-seven;
}


.exercises__desc {
  width: 60%;
  opacity: 0.5;
  align-self: center;
}

.exercise__advice {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82px;
  @include brandonFont(bold, 12px);
  text-transform: uppercase;
  letter-spacing: 0.3px;
  margin-right: 36px;
}

.exercises__advice_line::after {
   position: absolute;
   content: '';
   width: 3px;
   height: 74px;
   border-right: 1px dashed $azure;
   bottom: 0;
   left: 91px;
   opacity: 0.5;
 }


@media (max-width: $break-small) {
  .video-page__container {
    padding-top: 10px;
    padding-bottom: 0;
    background: $dark-grey-blue-two;
  }

  .video-page__title {
    font-size: 20px;
    line-height: 1.2;
  }

  .video-page__desc {
    font-size: 16px;
    line-height: 1.25;
    padding-bottom: 27px;
  }

  .video-accordion {
    margin: 0 -32px;
  }

  .video-accordion__head {
    padding: 16px 33px 5px 33px;
  }

  .video-accordion__button {
    line-height: 29px;
    margin-bottom: 22px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    border-radius: 2px;
    background-color: $dodger-blue;
    box-shadow: 12px 15px 8px 0 rgba(0, 0, 0, 0.1);
  }

  .video-accordion__button_opened {
    background-color: $dark;
  }

  .video-accordion__arrow {
    left: calc(50% + 50px);
    top: 5px;
  }

  .exercises__content {
    flex-direction: column;
  }

  .exercises__content::after {
    display: none;
  }

  .video-accordion__body {
    padding-right: 32px;
  }

  .exercises__video {
    width: 100%;
    height: auto;
  }

  .exercises__desc {
    font-size: 14px;
    width: auto;
    line-height: 1.29;
    margin-top: 8px;
  }

  .exercise__advice {
    margin-right: 0;
    text-align: center;
  }

  .exercises__advice_line::after {
   left: 50%;
    bottom: 3px;
    height: 25px;
  }

  .exercises__advice_line::before {
    position: absolute;
    content: '';
    width: 3px;
    height: 25px;
    border-right: 1px dashed $azure;
    top: 3px;
    left: 50%;
    opacity: 0.5;
  }

}