
$white: #ffffff;
$dark: #19242c;
$dark-two: #1d2a35;
$dark-three: #22323e;
$dark-four: #243644;
$dark-five: #1c2a34;
$dark-grey-blue: #283c4b;
$dark-grey-blue-two: #374a59;
$azure: #009eff;
$dodger-blue: #329fff;
$aqua-marine: #4bdebe;
$yellowish-orange: #feab1c;
$kivi-green: #97df41;
$grassy-green: #479d04;
$red-pink: #f0425e;
$warm-pink: #fe5b75;
$light-indigo: #8048cf;
$warm-gray: #979797;
$pinkish-grey: #c4c4c4;


$break-small: 767px;
$break-medium: 991px;
$break-large: 1199px;


@mixin brandonFont($weight: 500, $size: 13px, $color: $white, $lHeight: normal) {
  font-family: BrandonGrotesque;
  font-weight: $weight;
  font-size: $size;
  color: $color;
  line-height: $lHeight;
}

@mixin avenirFont($weight: 500, $size: 13px, $color: $white, $lHeight: normal) {
  font-family: AvenirNext;
  font-weight: $weight;
  font-size: $size;
  color: $color;
  line-height: $lHeight;
}

@mixin transition($elem: all, $time: 0.5s, $type: ease) {
  transition: $elem $time $type;
}

@mixin hover($color: $white, $textDecoration: none) {
  cursor: pointer;
  color: $color;
  text-decoration: $textDecoration;
}

@mixin elemToCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin btn($padding...) {
  display: inline-block;
  border: 0;
  text-align: center;
  vertical-align: middle;
  padding: $padding;
}

@mixin boxShadow() {
  box-shadow: 0px -1px 30px -4px rgba(0,0,0,0.86);
}

@mixin fullMobileBlock () {
  width: calc(100% + 64px);
  margin-left: -32px;
  margin-right: -32px;
}

@mixin boxShadow2 {
  box-shadow: 12px 15px 8px 0 rgba(0,0,0,0.16);
}