/*here is sass variables and mixins*/

/* colors */
$white: #ffffff;
$dark: #19242c;
$dark-grey-blue: #283c4b;
$azure: #009eff;
$aqua-marine: #4bdebe;
$yellowish-orange: #feab1c;


  /* fonts */
@mixin brandonFont($weight: 500, $size: 13px, $color: #ffffff) {
  font-family: BrandonGrotesque;
  font-weight: $weight;
  font-size: $size;
  color: $color;
}

@mixin avenirFont($weight: 500, $size: 13px, $color: #ffffff) {
  font-family: AvenirNext;
  font-weight: $weight;
  font-size: $size;
  color: $color;
}

