@import 'helper';
@import 'header';
@import 'tutorials';
@import 'tools';
@import 'footer';
@import 'start-video';
@import 'breadcrumbs';
@import 'guidance';
@import 'nutrition';
@import 'nutritionGuidlines';
@import 'nutritionMeals';
@import 'nutritionFoodlist';
@import 'nutritionJournal';
@import 'motivation';
@import 'fitness';
@import 'videopage';
@import 'tracking';
@import 'popups';

body {
  background-color: $dark-grey-blue-four;
  @include avenirFont();
  position: relative;
}

.pentagon {
  width: 100%;
  background-image: url("../img/pentagon-bg@2x.png");
  background-position: -450px 386px;
  background-repeat: no-repeat;
  background-size: 800px;
  @media (max-width: $break-small) {
    background: $dark-grey-blue-four;
  }
}

.hide {
  display: none;
}

.block__title {
  @include brandonFont(700, 16px, #ffffff);
  margin-bottom: 20px;
  line-height: 23px;
  text-transform: uppercase;
}

button {
  outline: none;
}


@media (max-width: $break-small) {
  body {
    background: $dark-grey-blue-two;
  }
}

/* custom styles for dropzones*/

.dropzone .dz-preview .dz-image {
  border-radius: 0;
  width: 100%;
  height: 100%;
}

.dropzone .dz-preview {
  margin: 0;
  width: 100%;
  height: 100%;
}

.dropzone .dz-preview  {
  width: 100%;
  height: 100%;
}

.dropzone .dz-preview .dz-error-message {
  top: 70%;
  left: 50%;
  margin-left: -70px;
}