@import 'helper';
@import 'header';
@import 'tutorials';
@import 'tools';
@import 'footer';
@import 'start-video';
@import 'breadcrumbs';
@import 'guidance';
@import 'nutrition';

body {
  width: 100%;
  background: $dark radial-gradient(circle at 42% 29%, #385060, $dark);
  @include avenirFont();
}

.block__title {
  @include brandonFont(700, 16px, #ffffff);
  margin-bottom: 20px;
  line-height: 23px;
  text-transform: uppercase;
}

@media (max-width: $break-small) {
  body {
    background: $dark;
  }
}