@import 'helper';
@import 'header';
@import 'tutorials';
@import 'tools';
@import 'footer';

body {
  width: 100%;
  background: $dark radial-gradient(circle at 42% 29%, #385060, $dark);
}

.block__title {
  @include brandonFont(700, 16px, #ffffff);
  margin-bottom: 20px;
  line-height: 23px;
  text-transform: uppercase;
}
